/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

a {
    color: #1dc8cd;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #1dc9ce;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    background: #00437a;
    color: #fff;
    border-radius: 4px 4px 0 0;
    right: 15px;
    bottom: 0;
    transition: none;
    visibility: hidden;
    opacity: 0;
    width: 64px;
    height: 34px;
}

.back-to-top i {
    line-height: 0;
    font-size: 20px;
}

.back-to-top:focus {
    background: #00437a;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #06487e;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #00437a;
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    background: #00437a;
    height: 70px;
    transition: all 0.5s;
}

#header #logo h1 {
    font-size: 28px;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
    }
    #header #logo img {
        max-height: 40px;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 0 2px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #333333;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #1dc8cd;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #333333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #1dc8cd;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #1dc8cd;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    /* linear-gradient( to right top, #00437aa1, #16589695, #276fb3a2, #3688d0a7, #44a1eea5),  */
    background: url("../img/exterior-blinds.jpeg") right center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.458);
    z-index: -1;
}

@media (min-width: 1025px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-height: 640px) {
    #hero {
        height: 120vh;
    }
}

#hero form {
    background: #fff;
    padding: 4%;
    border-radius: 4px;
    margin-left: calc(100% - 75%);
    transform: translateY(-30px);
}

#hero form .form-description {
    font-size: 14px;
    text-align: center;
}

#hero form h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#hero form input {
    height: 40px;
}

#hero form textarea {
    resize: none;
}

#hero form input:focus {
    outline: none;
    box-shadow: none;
    outline-color: none;
}

#hero form textarea:focus {
    outline: none;
    box-shadow: none;
    outline-color: none;
}

#hero form .buttons {
    display: flex;
}

#hero form button {
    padding: 2% 5%;
    letter-spacing: 1px;
    background: #025ca6;
    border: 2px solid #025ca6;
    transition: 0.5s;
}

#hero form button:hover {
    background: rgb(3, 106, 191);
    border: 2px solid rgb(3, 106, 191);
}

#hero form .expert_call {
    padding: 2% 5%;
    margin-left: 4%;
    letter-spacing: 1px;
    background: #025ca6;
    border: 2px solid #025ca6;
    transition: 0.5s;
    border-radius: 6px;
    color: #fff;
}

#hero form .expert_call:hover {
    background: rgb(3, 106, 191);
    border: 2px solid rgb(3, 106, 191);
}

#hero .hero-text {
    text-align: left;
    transform: translateY(-30px);
}

#hero h2 {
    margin: 30px 0 10px 0;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 19px;
}

@media (max-width: 768px) {
    #hero p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    color: #00437a;
    background: #fff;
}

#hero .product-screens {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
}

#hero .product-screens img {
    box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}

#hero .product-screens .product-screen-1 {
    position: absolute;
    z-index: 30;
    left: calc(50% + 54px);
    bottom: 0;
    top: 30px;
}

#hero .product-screens .product-screen-2 {
    position: absolute;
    z-index: 20;
    left: calc(50% - 154px);
    bottom: 0;
    top: 90px;
}

#hero .product-screens .product-screen-3 {
    position: absolute;
    z-index: 10;
    left: calc(50% - 374px);
    bottom: 0;
    top: 150px;
}

@media (max-width: 767px) {
    #hero .product-screens .product-screen-1 {
        position: static;
        padding-top: 30px;
    }
    #hero .product-screens .product-screen-2,
    #hero .product-screens .product-screen-3 {
        display: none;
    }
}

#testimonial {
    padding: 4% 0;
}

#testimonial .swiper-slide {
    text-align: center;
}

#testimonial .swiper .swiper-slide img {
    width: 100px;
    height: 100px;
    margin: 2% 47%;
    border-radius: 50%;
}

#testimonial .swiper .swiper-slide h1 {
    font-size: 34px;
    margin-bottom: 1%;
}

#testimonial .swiper .swiper-slide p {
    font-size: 18px;
    margin: 0 20%;
    text-align: center;
    margin-bottom: 3%;
}

#testimonial .swiper .swiper-slide p img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    margin-bottom: 1.8%;
}

#testimonial .swiper-button-next,
.swiper-button-prev {
    padding: 2%;
    border-radius: 50%;
    border: 2px solid #007aff;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    overflow: hidden;
}


/* Sections Header
--------------------------------*/

.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-align: center;
    font-weight: 400;
}

.section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #777;
    font-style: italic;
}

.section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
    margin: 0 auto;
    margin-bottom: 20px;
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #eff5f5;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 20px 0;
    min-height: 40px;
    margin-top: 92px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 68px;
    }
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/* About Us Section
--------------------------------*/

#about .video-content {
    height: 366px;
    margin: 10% 0;
    border-radius: 6px;
    position: relative;
}

#about .video-content .video-black {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    transition: all 0.5 ease;
    background: rgba(0, 0, 0, 0.264);
    z-index: 98;
}

@keyframes video {
    0% {
        transform: scale(1);
        background-color: #00437a;
    }
    25% {
        transform: scale(1.2);
        background-color: #00437a8a;
    }
    50% {
        transform: scale(1.3);
        background-color: #00437a2e;
    }
    100% {
        transform: scale(1.35);
        background-color: #00437a04;
    }
}

#about .video-content .video-icon {
    position: absolute;
    left: 44%;
    top: 38%;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: video 2s linear 0.6s infinite normal;
    z-index: 99;
}

#about .video-content .btn-cover {
    position: absolute;
    left: 44%;
    top: 38%;
    border: 0;
    background: #00437a;
    width: 60px;
    height: 60px;
    padding: 2.2% 3%;
    color: #fff;
    border-radius: 50%;
    z-index: 100;
}

#about .video-content video {
    width: 100%;
    height: auto;
    border-radius: 6px;
}


/* 
#about .about-img img {
    margin-left: -15px;
    max-width: 100%;
} */

@media (max-width: 768px) {
    #about .about-img {
        height: auto;
    }
    #about .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#about .content {
    padding: 4%;
}

#about .content h2 {
    color: #333;
    font-weight: 600;
    font-size: 36px;
}

#about .content p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}

#about .content p:last-child {
    margin-bottom: 0;
}

#about .content ul li {
    margin: 1% 0;
    display: flex;
    line-height: 25px;
}

#about .content ul li img {
    width: 20px;
    height: 20px;
    margin: 1% 0;
}

#about .content ul li p {
    margin-left: 2%;
    font-size: 16px;
}

#about .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #1dc8cd;
}

#about .content ul {
    list-style: none;
    padding: 0;
}

#about .content ul li {
    padding-bottom: 10px;
}


/* Product Featuress Section
--------------------------------*/

#features {
    background: #fff;
    padding: 60px 0 0 0;
    overflow: hidden;
}

#features .features-img {
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 769px) {
    #features .features-img {
        padding-top: 120px;
        margin-top: -200px;
    }
}

#features .features-img img {
    max-width: 100%;
}

#features .box {
    margin-bottom: 15px;
    text-align: center;
}

#features .icon {
    margin-bottom: 10px;
}

#features .icon i {
    color: #666666;
    font-size: 40px;
    transition: 0.5s;
}

#features .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#features .title {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px;
}

#features .title a {
    color: #111;
}

#features .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

#features .section-description {
    padding-bottom: 10px;
}


/* Product Advanced Featuress Section
--------------------------------*/

#advanced-features {
    overflow: hidden;
}

#advanced-features .features-row {
    padding: 80px 0 50px 0;
}

#advanced-features h2 {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

#advanced-features h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #999;
}

#advanced-features p {
    line-height: 24px;
    color: #777;
    margin-bottom: 30px;
}

#advanced-features i {
    color: #666666;
    font-size: 64px;
    transition: 0.5s;
    float: left;
    padding: 0 15px 0px 0;
    line-height: 1;
}

#advanced-features i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#advanced-features .advanced-feature-img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #advanced-features .advanced-feature-img-right,
    #advanced-features .advanced-feature-img-left {
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    #advanced-features .advanced-feature-img-right,
    #advanced-features .advanced-feature-img-left {
        max-width: 100%;
        float: none;
        padding: 0 0 30px 0;
    }
}

#advanced-features .advance-video-content {
    height: 366px;
    margin: 0;
    border-radius: 6px;
    position: relative;
}

#advanced-features .advance-video-content .videoblack {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    transition: all 0.5 ease;
    background: rgba(0, 0, 0, 0.264);
    z-index: 98;
}

#advanced-features .advance-video-content .videoicon {
    position: absolute;
    left: 44%;
    top: 38%;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: video 2s linear 0.6s infinite normal;
    z-index: 99;
}

#advanced-features .advance-video-content .btncover {
    position: absolute;
    left: 44%;
    top: 38%;
    border: 0;
    background: #00437a;
    width: 60px;
    height: 60px;
    padding: 2.2% 3.5%;
    color: #fff;
    border-radius: 50%;
    z-index: 100;
}

#advanced-features .advance-video-content video {
    width: 100%;
    height: auto;
    border-radius: 6px;
}


/* Product Extra Section
--------------------------------*/

#extra {
    padding: 4% 0;
}

#extra img {
    width: 100%;
    height: auto;
}


/* Call To Action Section
--------------------------------*/

#call-to-action {
    overflow: hidden;
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action .cta-text {
    color: #fff;
}

@media (min-width: 769px) {
    #call-to-action .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

#call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
}


/* More Features Section
--------------------------------*/

#more-features {
    padding: 60px 0 60px 0;
    overflow: hidden;
}

#more-features .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    height: 100%;
}

#more-features .icon {
    float: left;
}

#more-features .icon i {
    color: #666666;
    font-size: 80px;
    transition: 0.5s;
    line-height: 0;
}

#more-features .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#more-features h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#more-features h4 a {
    color: #111;
}

#more-features p {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
}

@media (max-width: 767px) {
    #more-features .box {
        margin-bottom: 20px;
    }
    #more-features .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }
    #more-features h4,
    #more-features p {
        margin-left: 0;
        text-align: center;
    }
}


/* Clients Section
--------------------------------*/

#clients {
    padding: 30px 0;
    background: #fff;
    overflow: hidden;
}

#clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}


/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding: 60px 0;
    overflow: hidden;
}

#faq .faq-list {
    padding: 0;
    list-style: none;
}

#faq .faq-list li {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #1dc8cd;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #179ca0;
    transition: 0.3s;
}

#faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

#faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

#faq .faq-list .icon-show {
    display: none;
}

#faq .faq-list .collapsed {
    color: black;
}

#faq .faq-list .collapsed:hover {
    color: #1dc8cd;
}

#faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

#faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}


/* Our Team Section
--------------------------------*/

#team {
    padding: 60px 0;
    overflow: hidden;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
}

#team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
}

#team .member .pic img {
    max-width: 100%;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    color: #b3b3b3;
}

#team .member .social a:hover {
    color: #1dc8cd;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/* Gallery Section
--------------------------------*/

#gallery {
    background: #fff;
    padding: 60px 0 0 0;
    overflow: hidden;
}

#gallery .container-fluid {
    padding: 0px;
}

#gallery .gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

#gallery .gallery-item {
    max-height: 330px;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    object-fit: contain;
    overflow: hidden;
}

#gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
    width: 100%;
}

#gallery .gallery-item:hover img {
    transform: scale(1.1);
}

#gallery .gallery-item:hover .gallery-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #333;
    font-size: 14px;
}

#footer .credits {
    font-size: 13px;
}

#footer .credits a {
    color: #00437a;
}

#footer .footer-links a {
    color: #00437a;
    padding-left: 15px;
}

#footer .footer-links a:first-child {
    padding-left: 0;
}

#footer .footer-links a:hover {
    color: #00437a;
}

#footer .social-links {
    padding-bottom: 20px;
}

#footer .social-links a {
    font-size: 18px;
    background: #fff;
    color: #00437a;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #00437a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#footer .social-links a i {
    line-height: 0;
}

#footer .social-links a:hover {
    background: #025191;
    color: #fff;
}